.main {
    font-family: "Roboto Mono", sans-serif;
    margin: 0;
    padding: 5%;  
}

h2 {
    font-family: "Libre Franklin", sans-serif; 
    overflow: hidden;
    color: #fffffe;
    font-size: large;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

h1 {
    opacity: 1;
    font-family: "Libre Franklin", sans-serif; 
    font-size: xx-large;
    font-weight:bold;
    color: #fffffe;
    text-align: left;
}

p {
    width: 100%;
    font-family: "Roboto Mono", sans-serif;
    text-align: left;
    font-size:medium;
    color: #94a1b2;
}