body {
    font-family: helvetica;
    font-size: 14px;
}
#toolbar {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    position: relative;
    z-index: 10;
}

#cy {
    width: 90%;
    height: 90%;
    position: absolute;
}

h1 {
    opacity: 0.5;
    font-size: 1em;
}

.btn {
    padding: 5px 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}
.btn:hover {
    background-color: #0056b3;
}