body {
    font-family: sans-serif;
    font-size: 14px;
    background-color: #16161a;
}
#toolbar {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
    z-index: 10;
}

#cy {
    width: 85%;
    height: 85%;
    position: absolute;
    background-color: #16161a;
}

h1 {
    opacity: 1;
    font-size: 1em;
    color: #fffffe;
    text-align: center;
}

.btn {
    padding: 10px;
    border: none;
    background-color: #7f5af0;
    color: #fffffe;
    cursor: pointer;
    font-family: sans-serif;
    margin-right: 10px;
    border-radius: 12px
}
.btn:hover {
    background-color: #553ba3;
}

.header {
  overflow: hidden;
  background-color: #16161a;
  padding: 10px 10px;
}

.header a {
  float: left;
  color: #fffffe;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  color: #fffffe;
  font-weight: bold;
}

.header a.active {
  background-color: #72757e;
  color: #fffffe;
}

.header a:hover {
  background-color: #a1a4ac;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}